{% extends 'base.html' %}
{% block state-questions %}active{% endblock state-questions %}
{% block title %}
    Question {{ object }} - NestLearn
{% endblock title %}

{% block content %}

<br><br><br><br>

<div class="container">
	<h2>{{ object }}</h2>
	<small>Posted By: {{ object.user }}</small><br>
	<small>Posted At: {{ object.date }}</small>
	<hr>
	{{ object.question_html|safe|linebreaks }}
	{% if object.attachment %}
	<a href="/cdn/{{object.attachment}}" target="_blank">Attachment : {{object.attachment}}</a>
	{% endif %}
	<br>
	<small>Tagged: {{ object.tag }}</small>
	<hr>
	{% if object.user == user %}
	{% if object.tag != 'exam' %}
	<a href="{% url 'core:edit-question' pk=object.pk %}" class="btn btn btn-outline-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
	<a href="{% url 'core:delete-question' pk=object.pk %}" class="btn btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
	{% endif %}
	{% endif %}
	<br><br>
	<a href="{% url 'core:new-answer' %}" class="btn btn btn-primary">Add An Answer</a>

	<br><br><br>

		{% for answer in answer_list %}
			{% if answer.question == object %}
				{% if answer.question.tag == "exam" %}
                    {% if answer.user == user or user.profile.type == 'teacher' %}
                    <div class="card flat-card-light-soft-no-center ripple" style="width: 100%;">
						<div class="card-body">
							<h6  class="card-subtitle mb-2 text-muted">By: {{ answer.user }}</h6>
							<h6  class="card-subtitle mb-2 text-muted">At: {{ answer.date }}</h6>
							<p class="card-text">{{ answer|linebreaks }}</p>
							{% if answer.user == user %}
								<a href="{% url 'core:edit-answer' pk=answer.pk %}" class="btn btn-sm btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
							{% endif %}
                    	</div>
					</div>
                    <br>
				{% endif %}
            {% endif %}


				{% if answer.question.tag != "exam" %}
					<div class="card flat-card-light-soft-no-center ripple" style="width: 100%;">
						<div class="card-body">
							<h6  class="card-subtitle mb-2 text-muted">By: {{ answer.user }}</h6>
							<h6  class="card-subtitle mb-2 text-muted">At: {{ answer.date }}</h6>
							<p class="card-text">{{ answer|linebreaks }}</p>
							{% if answer.user == user %}
								<a href="{% url 'core:edit-answer' pk=answer.pk %}" class="btn btn-sm btn-warning"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						  {% endif %}
						</div>
					</div>
                    <br>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>
<br>
{% endblock content %}