{% extends 'base.html' %}
{% block state-new %}active{% endblock state-new %}
{% block title %}
    New Question - NestLearn
{% endblock title %}

{% block content %}

<br><br><br><br><br>

<div class="container">
	<h3>New Question</h3>

    <hr>
    <br>

    <form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Post" class="btn btn-lg btn-success">
        <br><br>
	</form>
</div>

{% if error %}
<script>alert("{{error}}");</script>
{% endif %}

{% endblock content %}