<!DOCTYPE html>
{% load static %}
<html lang="en">
    <!--suppress HtmlDeprecatedAttribute -->
    <head profile="http://www.w3.org/2005/10/profile">
        <link rel="icon"
              type="image/png"
              href="{% static 'img/favicon.svg' %}">
        <title>{% block title %}{% endblock title %}</title>
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <!-- ICONS -->
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
        <!-- JQ -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="se-pre-con"></div>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background: white; box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.6);">
          <a class="navbar-brand" href="{% url 'core:home' %}">NestLearn</a>
          <button style="outline: none; border: none;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item {% block state-home %}{% endblock state-home %}">
                <a class="nav-link" href="{% url 'core:home' %}">Home</a>
              </li>
              {% if user.is_authenticated %}
                  <li class="nav-item {% block state-questions %}{% endblock state-questions %}">
                     <a class="nav-link" href="{% url 'core:all-questions' %}">Questions</a>
                  </li>
                  <li class="nav-item {% block state-search %}{% endblock state-search %}">
                    <a class="nav-link" href="{% url 'core:q-search' %}">Search Questions</a>
                  </li>
                  <li class="nav-item {% block state-new %}{% endblock state-new %}">
                    <a class="nav-link" href="{% url 'core:create-question' %}">New Question</a>
                  </li>
                  <li class="nav-item {% block state-account %}{% endblock state-account %}">
                      <a class="nav-link" href="#">{{user}} ({{user.profile.type}})</a>
                  </li>
                  <li class="nav-item {% block state-logout %}{% endblock state-logout %}">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                  </li>
              {% else %}
                  <li class="nav-item {% block state-login %}{% endblock state-login %}">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                  </li>
                  <li class="nav-item {% block state-signup %}{% endblock state-signup %}">
                    <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
                  </li>
              {% endif %}
            </ul>
          </div>
        </nav>

        <div class="content">
            {% block content %}
            {% endblock content %}
        </div>

    </body>

    <script type="text/javascript">
            $(window).on("load",function() {
          $(window).scroll(function() {
            const windowBottom = $(this).scrollTop() + $(this).innerHeight();
            $(".fade").each(function() {
              /* Check the location of each desired element */
                const objectBottom = $(this).offset().top + $(this).outerHeight();

                /* If the element is completely within bounds of the window, fade it in */
              if (objectBottom < windowBottom) { //object comes into view (scrolling down)
                if ($(this).css("opacity")===0) {$(this).fadeTo(500, 1);}
              } else { //object goes out of view (scrolling up)
                if ($(this).css("opacity")===1) {$(this).fadeTo(500, 0);}
              }
            });
          }).scroll(); //invoke scroll-handler on page-load
        });

        $(window).load(function() {
                // Animate loader off screen
                $(".se-pre-con").fadeOut("slow");
        });
    </script>
</html>
